/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 /*
  *= require font-awesome
  */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "home.scss";
@import "design-block/froala_blocks.scss";


.logo {
	width: 50px;
}

.user-profile,  .user-profile:hover, .user-profile:active{
	background-color: transparent;
	border:0;
	color: #fff;
}

.product-card{
	    min-height: 450px;
}
.warning {
	  margin-left: 30%;
      color: #FF0000;
      font-size: larger;
}
.success {
	  margin-left: 37%;
      color: #008000;
      font-size: x-large;
}
.mt-4 {
	margin-left: 22%;
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
