<%= form_with(model: order, local: true) do |form| %>

<div class="field">
  <%= form.label :'Enter quantity' %>
  <%= form.number_field :quantity, id: :order_quantity %>
</div>
<div class="actions">
  <%= form.submit "BUY" %>
</div>

<% end %>
